.area1{
    /* background-image: url(./images/pizza.jpg); */
    /* background-repeat: no-repeat; */
    /* background-position: cover; */
    /* height: 50%; */
}

.text1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: "Sofia", sans-serif;
    font-size: 20px;
}