.area1{
    background-image: url(./images/intro2.jpg);
    background-repeat: no-repeat;
    background-position: left;
    height: 100%;
    width: 100%;
   
    
}

.text1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: "Sofia", sans-serif;
    font-size: 20px;
    color: teal;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .slice{
    color: darkblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 2px solid black; */
    height: 50%;
    width: 85%;
    text-align: left;
}

.slice1,.slice2,.slice3,.slice4{
    position: relative;
    justify-content: center;
}

.Mama{
  background-color: thistle;
}

.life{
  float: right;
  margin: auto;
}

.delivery{
  text-align: center;
  justify-content: center;
  float: right;
}







